html, body {
    margin: 0;
    padding: 0;
    max-width: 1920px;
    overflow-x: hidden;
    height: 100%;
}

/*Header with navigation:*/

header {
    width: 100%;
    height: 100%;
}

/* Navigation + logo */

.navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #fff;
}

.nav-container {
    width: 70%;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto; 
}

.logo {
    order: 1;
    padding: 1em;
    font-size: 32px;
    line-height: 32px;
    padding: 0;
}

.item {
    color: #7c7c7c;
    text-decoration: none;
    font-family: sans-serif;
    padding: 0;
    font-size: 16px;
}

.item:nth-of-type(n+4) {
    order: 2;
}

.tagline {
    display: block;
    padding-top: 350px;
    text-align: center;
}

.tagline h1 {
    font-size: 40px;
    margin: 0;
}

.tagline p {
    margin: 0;
}

.tagline .readmore {
    margin-top: 50px;
    padding: 15px 35px;
    background-color: white;
    border: 1px solid black;
    text-transform: uppercase;
}

    


/* Main section*/

/* Story */

main {
    width: 100%;
    margin: 0;
    padding: 0;
}

.story {
    position: relative;
    display: block;
    width: 100%;
    height: 1300px;
    background-color: #1d1d1d;
}



.buildings {
    position: absolute;
    bottom: -2px;
    left: 0;
    max-width: 100%;
    height: auto;
}

.story-left, .story-right {
    color: white;
}


.story-left {
    float: left;
    width: 49.55%;

}

.story-right {
    float: right;
    width: 45.55%;
}


.story-left::after, .story-right::after {
    display: block;
    content: "";
    clear: both;
}

.midline {
    display: inline-block;
    width: 0.5%;

    background-color: white;
    height: 100%;
    text-align: center;
}

.midline img {
    position: relative;
    transform: translateX(-33%);
    padding-bottom: 35px;
    padding-top: 150px;
}

.midline :nth-child(3) {
    transform: translateX(-42%);
}

.story-2011, .story-2013 {
    position: relative;
    left: 90px;
    padding-left: 25px;
    padding-right: 150px;
    padding-bottom: 220px;
    padding-top: 90px;
}

.story-2012, .story-2014 {
    position: relative;
    right: 70px;
    padding-right: 10px;
    padding-left: 100px;
    padding-bottom: 30px;
    padding-top: 300px;
}

.story-2011 h2, .story-2013 h2 {
    text-align: right;
    font-size: 40px;
    padding: 0;
    margin: 0;
    padding-right: 50px;
}

.story-2012 h2, .story-2014 h2 {
    padding: 0;
    margin: 0;
    font-size: 40px;

}

.story-2011 p, .story-2013 p {
    text-align: justify;
    padding-right: 50px;
    padding-left: 0px;
}

/* Team section */

.team-list {
    margin: 0 auto;
    width: 80%;
    padding: 0;
}

.team-list ul {
    padding: 0;

}

.team-list ul li:nth-child(2) {
    position: relative;
    top: -75px;

}

.team-list ul li {
    text-align: center;
    list-style: none;
    display: inline-block;
    width: 33%;    
}

.team .tagline {
    padding-top: 150px;
    padding-bottom: 150px;
}

.team-list ul li h3 {
    margin: 0;
    padding-top: 20px;
    font-size: 22px;
}

.team-list ul li p {
    margin: 0;
}

.social button {
    border: none;
    background: #fff;

}

.social button i {
    padding-top: 25px;
    font-size: 25px;
    color: #7e7e7e;
}

/* Skills section */

.skills {
    text-align: center;
    background-color: #1d1d1d;
    color: #fff;
}

.white-mask-left {
	width: 0;
	height: 0;
	border-top: 200px solid #fff; 
	border-right: 1920px solid transparent;			
}

.skills .tagline {
    padding-top: 100px;
    padding-bottom: 150px;
}

 /* blog button */
.skills .readmore { 
    margin: 0 auto;
    margin-top: 50px;
    padding: 15px 35px;
    background-color: white;
    border: 1px solid black;
}

.skills .readmore p {
    margin: 0;
    padding: 0;
}

.provides {
    margin: 0 auto;
    width: 80%;
    height: 600px;
    padding: 0;
}

.provides ul {
    padding: 0;

}

.provides ul li {
    text-align: center;
    list-style: none;
    display: inline-block;
    width: 33%;
    
}

.provides h3, .provides p {
    width: 50%;
    margin: 15px auto;
}

.white-mask-right {
	width: 0;
	height: 0;
	border-bottom: 200px solid #fff; 
	border-left: 1920px solid transparent;			
}

/* Footer */
/* Contacts section */

.contacts .tagline {
    padding-top: 100px;
    padding-bottom: 75px;
}

.links {
    margin: 0 auto;
    width: 65%;
    height: 250px;
    padding: 0;
}

.links ul {
    padding: 0;

}

.links ul li {
    text-align: center;
    list-style: none;
    display: inline-block;
    width: 27%;
    padding: 0 3%;
}

.links ul li p {
    margin: 0px 5px;
}

/* Form section */

.form {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 100px;
}

input {
    display: block;
    text-align: center;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: 1px solid black;
}

textarea {
    border: 1px solid black;
    display: block;
    text-align: left;
    width: 100%;
    height: 135px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 0px;
    resize: none;
    overflow-x: hidden;
    background-color: #fff;
    
}

.submit-button {
    border-style: none;
    background: #1d1d1d;
    color: #fff;
}

.rights {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #7c7c7c;
}

/* Animation and some hover changes */

/* Navbar */ 

.item:hover {
    position: relative;
    top: 10px;
    padding-bottom: 18px;
    color: #1d1d1d;
}

/* Header */

.tagline .readmore:hover {
    background: #1d1d1d;
    color: #fff;
}

/* I need do something with this images line */

.midline img {
    cursor: pointer;
}

/* Social buttons */

.social button i:hover {
    color: #1d1d1d;
}

/* Team imgs */

.team-list ul li img:hover {
    opacity: 0.9;
}

/* Blog button */

.skills .readmore:hover {
    border: 1px solid #fff;
    background-color: #1d1d1d;
    color: #fff;
}

/* Submit form button */

.submit-button:hover {
    border: 1px solid black;
    background: #c8c8c8;
    color: #1d1d1d;
}


/* Media queries */

@media screen and (max-width: 1250px) {

    .story-2011, .story-2013 {
        position: relative;
        left: 50px;
        padding-left: 0px;
        padding-right: 70px;
        padding-bottom: 220px;
        padding-top: 80px;
    }
    
    .story-2012, .story-2014 {
        position: relative;
        right: 20px;
        padding-right: 10px;
        padding-left: 60px;
        padding-bottom: 30px;
        padding-top: 300px;
    }

    .midline img {
        transform: translateX(-36%);
    }
    
    .midline :nth-child(3) {
        transform: translateX(-44%);
    }

    .team-list ul {
        padding: 0;
    }
    
    .team-list ul li:nth-child(2) {
        top: 0px;
    }
    
    .team-list ul li {
        padding-top: 25px;
        display: block;
        width: 100%;   
    }

    .provides {
        margin: 0 auto;
        width: 80%;
        height: auto;
        padding: 0;
    }
    
    .provides ul li {
        text-align: center;
        list-style: none;
        display: block;
        width: 100%;   
    }
    
    .provides h3, .provides p {
        width: 90%;
        margin: 25px auto;
    }

    .links ul li {
        text-align: center;
        list-style: none;
        display: block;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .links ul li p {
        margin: 0 auto;
    }

}

@media screen and (max-width: 750px) {

    .tagline {
        display: block;
        padding-top: 200px;
        text-align: center;
    }


    .navbar {
        position: relative;
        z-index: 10;
        width: 100%;
        background-color: #fff;
    }
    
    .nav-container {
        width: 95%;
        display: block; 
        margin: 0 auto; 
    }
    
    .logo {
        position: absolute;
        left: 45%;
        top: 0px;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }
    
    .item {
        position: relative;
        top: 53px;
        text-align: center;
        display: block;
        border-bottom: 1px solid black;
        width: 100%;
        height: 30px;
        color: #7c7c7c;
        text-decoration: none;
        font-family: sans-serif;
        padding: 0;
        font-size: 16px;
        padding-top: 15px;
    }

    .item:first-child {
        border-top: 1px solid black;
    }
    
    .item:hover {
        position: relative;
        top: 53px;
        padding-bottom: 0px;
        color: #1d1d1d;
    }

    .story-2011 h2, .story-2013 h2 {
        text-align: right;
        font-size: 40px;
        padding: 0;
        margin: 0;
        padding-right: 50px;
    }
    
    .story-2012 h2, .story-2014 h2 {
        padding: 0;
        margin: 0;
        font-size: 40px;
    
    }
    
    .story-2011 p, .story-2013 p {
        text-align: justify;
        padding-right: 50px;
        padding-left: 0px;
    }

    .midline img {
        transform: translateX(-43%);
    }
    
    .midline :nth-child(3) {
        transform: translateX(-47%);
    }

}

@media screen and (max-width: 600px) {

    
    .story-2011, .story-2013 {
        position: relative;
        left: 50px;
        padding-left: 0px;
        padding-right: 70px;
        padding-bottom: 100px;
        padding-top: 80px;
    }

    .story-2012, .story-2014 {
        position: relative;
        right: 20px;
        padding-right: 10px;
        padding-left: 60px;
        padding-bottom: 0px;
        padding-top: 300px;
    }
}